.wrapper {
    width: 100%;
    display: flex;
}

.left {
    flex: 66.666666%;
    display: flex;
    flex-direction: column;
}

.right {
    flex: 33.3333333%;
    display: flex;
    flex-direction: column;
}

.thumnail-ss {
    width: 100%;
    height: 56vh;
    .thumnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: none;
    }
}

.title-ss {
    width: 100%;
    height: 32vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    &:hover {
        .icon {
            transform: rotate(90deg);
        }
        .title {
            transform: translateY(-100%);
        }
        .animation-title {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .animation-text {
        text-transform: uppercase;
        font-size: 4.4rem;
        font-family: Sequel;
        color: var(--text-color);
        max-width: 500px;
        position: relative;
        margin-right: 12px;
        overflow: hidden;
    }

    .title {
        transition: transform 0.5s;
        line-height: 1;
    }

    .animation-title {
        position: absolute;
        line-height: 1;
        top: 100%;
        transition: all 0.5s;
    }

    .plus .icon {
        width: 10rem;
        height: 10rem;
        float: right;
        transition: all 0.3s;
    }
}

.description-ss {
    width: 100%;
    height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    border-left: 1px solid var(--slight-black);
    cursor: pointer;

    .description-text {
        padding: 24px;
        opacity: 0.7;
        font-size: 1.7rem;
        font-weight: 300;
        letter-spacing: 1px;
        color: var(--light-slate-grey);
    }
}

.control-ss {
    width: 100%;
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--slight-black);
    border-left: 1px solid var(--slight-black);
    cursor: pointer;
}

.left-arrow,
.right-arrow {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    .icon {
        width: 7rem;
        transition: all 0.3s;
    }

    &:hover {
        background-color: #1e243529;
    }
}

.left-arrow {
    border-right: 1px solid var(--slight-black);
}

.right-arrow:hover .icon {
    transform: translateX(18%);
}

.left-arrow:hover .icon {
    transform: translateX(-18%);
}

@media (max-width: 996px) {
    .wrapper {
        flex-direction: column;
    }

    .title-ss,
    .description-ss,
    .control-ss {
        height: 20vh;
    }

    .description-ss {
        height: auto;
        border-top: 1px solid var(--slight-black);
        border-left: none;
    }
    .about-ss {
        justify-content: space-around;
    }

    .work-ss {
        justify-content: space-between;
        border-left: none;

        .arrow {
            float: right;
        }
    }
}

@media (max-width: 698px) {
    .title-ss {
        padding: 0 12px;

        .plus .icon {
            width: 7rem;
            height: 7rem;
        }

        .animation-text {
            font-size: 3rem;
        }
    }
    .description-ss .description-text {
        padding: 0;
    }
}
