.wrapper {
    width: 100%;
    display: flex;
}

.left {
    flex: 66.66%;
    display: flex;
    flex-direction: column;
}

.right {
    flex: 33.33%;
    display: flex;
    flex-direction: column;
}

.thumnail-ss {
    width: 100%;
    height: 56vh;
    .avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-ss {
    width: 100%;
    height: 32vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    &:hover {
        .icon {
            transform: rotate(90deg);
        }
        .title {
            transform: translateY(-100%);
        }
        .animation-title {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .animation-text {
        text-transform: uppercase;
        font-size: 4.4rem;
        font-family: Sequel;
        color: var(--text-color);
        max-width: 500px;
        position: relative;
        margin-right: 12px;
        overflow: hidden;
    }

    .title {
        transition: transform 0.5s;
        line-height: 1;
    }

    .animation-title {
        position: absolute;
        line-height: 1;
        top: 100%;
        transition: all 0.5s;
    }

    .plus .icon {
        width: 10rem;
        height: 10rem;
        font-weight: bold;
        float: right;
        transition: all 0.5s;
        color: var(--text-color);
    }
}

.contact-ss {
    width: 100%;
    height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;

    .contact-text {
        padding: 24px;
        opacity: 0.7;
        color: var(--light-slate-grey);
        font-size: 1.7orem;
        letter-spacing: 1px;
        font-weight: 300;
        transition: all 0.5s;
    }

    cursor: pointer;
    &:hover .hand .icon {
        transform: rotate(40deg);
        transition: all 0.5s;
    }

    &:hover .contact-text {
        transform: translateY(-8%);
        color: var(--text-color);
    }

    .hand {
        margin-left: 24px;
    }

    .hand .icon {
        width: 4rem;
        color: var(--text-color);
    }
}
.work-ss {
    width: 100%;
    height: 32vh;
    padding: 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--slight-black);
    border-left: 1px solid var(--slight-black);
    cursor: pointer;

    .animation-text {
        width: 100%;
        text-transform: uppercase;
        font-family: Sequel;
        color: var(--text-color);
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .present {
        font-size: 3rem;
        transition: transform 0.5s;
    }

    .animation {
        font-size: 3.6rem;
        position: absolute;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        text-align: center;
        transition: all 0.5s;
    }

    .animation .arrow .icon {
        font-size: 4.6rem;
    }

    .title {
        margin-right: 12px;
    }

    &:hover {
        .present {
            transform: translateY(-100%);
        }
        .animation {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .arrow .icon {
        width: 4rem;
        color: var(--text-color);
    }
}

@media (max-width: 996px) {
    .wrapper {
        flex-direction: column;
    }

    .work-ss,
    .about-ss,
    .contact-ss {
        height: 20vh;
    }

    .contact-ss {
        height: auto;
        border-top: 1px solid var(--slight-black);
    }
    .about-ss {
        justify-content: space-between;
        padding: 48px;
        .animation-text {
            // max-width: none;
            font-size: 3.6rem;
        }
    }

    .work-ss {
        justify-content: space-between;
        border-left: none;

        .arrow {
            float: right;
            margin-right: 12px;
        }

        .present,
        .animation {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 698px) {
    .work-ss,
    .about-ss,
    .contact-ss {
        padding: 12px;
    }
    .contact-ss .contact-text {
        padding: 24px 0;
    }

    .contact-ss .hand {
        margin: 0;
    }

    .about-ss .plus .icon {
        width: 7rem;
        height: 7rem;
    }

    .about-ss .animation-text {
        font-size: 3rem;
    }
}
