.wrapper {
    display: flex;
    width: 100%;
    --time: 15s;
}

.text-wrap {
    flex: 1;
    padding: 24px;
    padding-right: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
    z-index: 2;
}

.main-text {
    font-size: 2.8rem;
    font-weight: 300;
    margin-bottom: 32px;
    z-index: 1;
}

.sub-text {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 32px;
    opacity: 0.4;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.image-wrap {
    flex: 1;
}

.image-frame {
    width: 485px;
    height: 650px;
    border-top-left-radius: 1000rem;
    border-top-right-radius: 1000rem;
    // overflow: hidden;
    background-image: url('../../assets/imgs/avatar2.jpeg');
    background-position: center;
    background-size: cover;
    z-index: 2;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.mask {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 2;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0) 50%, var(--black));
}

.marquee-w {
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.marquee .scroll-text {
    display: inline-block;
    padding-left: 100%;
    text-align: center;
    white-space: nowrap;
    position: relative;
    font-size: 2rem;
    font-family: Sequel;
    animation: marquee 30s linear infinite;
}

.marquee2 .scroll-text {
    animation-delay: 15s;
}

.text {
    padding: 0 24px;
    position: relative;
    color: #fff;
}

.text::before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 999px;
    background-color: var(--medium-purple);
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
}
// }

@keyframes marquee {
    0% {
        transform: translate(20%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@media (max-width: 996px) {
    .wrapper {
        flex-direction: column;
    }

    .image-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-frame {
        margin: 0 24px;
        max-width: 450px;
        max-height: 600px;
        min-height: 600px;
        height: 100%;
        width: 100%;
    }

    .img {
    }
}

@media (max-width: 480px) {
    .text-wrap {
        padding-right: 24px;
    }

    .image-frame {
        max-width: 350px;
        min-height: 500px;
        width: 100%;
    }
}
